#chat {
  display: flex;
  flex-direction: column;
}

#chat-box {
  display: flex;
  flex-direction: column;
}

.chat-window {
  height: 350px;
}

#message {
  color: #918cc7;
  margin-top: auto;
  justify-self: flex-end;
  background: #2e284c;
}

input:focus {
  border: 1px solid #060024 !important;
}

input::placeholder {
  color: #918cc7 !important;
}