.add-coin-btn {
  color: var(--white) !important;
  background-color: #4E92D8 !important;
  font-weight: normal !important;
  align-self: center;
  margin: 0 !important;
  width: 75%;
  background-image: linear-gradient(to left, #75a6ff, #7084ff) !important;
  padding: 12px 12px !important;
}

.amount-row {
  margin-top: 8px;
}

.buttons-row {
  display: flex;
  margin-top: auto;
  justify-content: space-around !important;
  flex-direction: column !important;
}

#cancel-btn {
  width: 75%;
  align-self: center;
  margin: 0 !important;
  font-size: 12px;
  padding: 20px;
  font-weight: normal;
  border-radius: 10px;
  border: none;
  color: var(--secondary-color);
  background: var(--primary-color);
}

#card-amount-wrapper {
  width: 100%;
}

#coin-card {
  width: 40%;
  align-self: center;
  margin: 1em auto;
  height: 14% !important;
  background: none !important;
  box-shadow: none;
  justify-content: space-around;
}

#coin-card .image {
  margin: 1em;
  align-self: center;
  border-radius: 50px !important;
  transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

#coin-card .content {
  border-top: none;
  color: var(--white);
  justify-content: center;
}

#coin-card .content {
  display: flex;
  flex-wrap: wrap;
}

#coin-image {
  width: 32px;
  margin: 0 10px;
  align-self: center;
  height: 32px;
}

#coin-input {
  border: 0;
  margin-top: auto;
  align-self: center;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: bold;
  border-radius: 0;
  box-shadow: none;
  background: none;
  border-bottom: 1px solid #2e284c;
  background: #2e284c;
}

#coin-input input {
  font-weight: normal !important;
  color: #918cc7;
}

#coin-input input::placeholder {
  font-weight: normal !important;
}

#coin-input i {
  display: none;
}

#coin-input .menu {
  background: #2e284c;
  border: none !important;
  border-radius: 0 !important;
}

#coin-input .menu div {
  background: #2e284c;
}

#coin-input .menu > .item {
  border-top: none;
}

#coin-input .menu > .item:hover {
  background: var(--primary-color);
}

#coin-input .menu > .item.selected {
  background: var(--primary-color);
}

#coin-input .text {
  font-weight: normal !important;
  color: #918cc7 !important;  
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.coin-input-wrapper {
  margin-top: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.coin-form {
  display: flex;
  min-height: 100%;
  height: 395px;
  flex-direction: column;
}

.coin-form h3 {
  margin-bottom: 0;
  color: var(--white);
}

.coin-form-header {
  margin: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.crypto-icon {
  width: 32px;
  height: 32px;
}

.coin-list-amount input {
  width: 120px !important;
  margin: 6px auto !important;
  color: #918cc7 !important;
  border: none !important;
  background: #2e284c !important;
  line-height: 1.21428571em;
  padding: .78571429em 2.1em .78571429em 1em;
}

.coin-list-item input:focus {
  border: none !important;
}

.coin-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.coin-list-item button {
  background: linear-gradient(to left, #75a6ff, #7084ff) !important;
}

.coin-list-item button i::before {
  content: "+" !important;
  font-weight: bold;
  color: white;
}

.coin-list-item img {
  width: 32px;
  height: 32px;
}

.coin-list-item p {
  margin: 0;
  color: #918cc7;
}

.crypto-wrapper {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none !important;
}

#label-coin, #amount-label {
  float: left;
  color: #918cc7;
  margin-left: 8%;
}

.no-results {
  color: #918cc7;
}

#search {
  width: 268px !important;
  margin: 0 auto;
  color: #918cc7;
  font-size: 18px;
  line-height: 1.2em;
  border: none !important;
  background: #2e284c;
  line-height: 1.21428571em;
  padding: .78571429em 2.1em .78571429em 1em;
}

.search-wrapper {
  margin: 0;
}

.search-results {
  margin: 0 18px;
  overflow-y: scroll;
}

.search-results-header {
  margin: 18px 18px 0 !important;  
}

.search-results-header p {
  text-align: left;
  font-size: 12px;
  color: #918cc7;
}

.slide-in-top {
  animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

#spacer {
  margin-top: 40%;
}