.article {
  display: flex;
  margin: 18px;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.article-wrapper {
  width: 100%;
  opacity: .6;
  transition: all .3s ease-in;
}

.article-wrapper:hover {
  opacity: 1;
  background: #423a6f;
}

.article p {
  text-align: left;
}

.article img {
  height: 50px;
  width: auto;
}

.article-title {
  font-size: 10px;
  margin-bottom: 0;
  color: var(--white);
  margin-left: 8px;
}

.news-articles {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.news-articles-wrapper {
  width: 100%;
  height: 332px;
  overflow: scroll;
  position: fixed;
}

.news-header {
  margin: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.news-header h3 {
  margin-bottom: 0;
  color: var(--white);
}

.news-last-updated {
  font-size: 10px;
  width: 200px;
  text-align: left;
  color: #9CA6C5 !important;
}

.news-header button, .article button {
  cursor: pointer;
  margin-right: 0;
  color: var(--white) !important;
  background: transparent !important;
}

.published {
  font-size: 10px;
  color: #9CA6C5;
}

::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}