/*
 * Global constants goes here
 */
:root {
    --primary-color: #282F47;
    --white: #FFFFFF;
}

/*
 * Global CSS goes here, it requires to use :global before each style
 */
:global body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    margin: auto;
}

:global html {
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 400px;
}

:global #app {
    width: 100%;
    height: 100%;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}

:global #app p {
    text-align: justify;
}

:global .hello {
    color: var(--white);
}