/*
 * Global constants goes here
 */
:root {
    --primary-color: #282F47;
    --white: #FFFFFF;
}

/*
 * Global CSS goes here, it requires to use :global before each style
 */
@keyframes Flow { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(270deg, #282f47, #465589);
    background-size: 400% 400%;
    animation: Flow 15s ease infinite;
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 400px;
    margin: auto;
}

:global html {
    height: 100%;
    width: 100%;
    max-width: 350px;
    max-height: 400px;
}

:global #app {
    width: 100%;
    height: 100%;
    font-family: Source Sans Pro, Helvetica, sans-serif;
    text-align: center;
}
:global #app p {
    text-align: justify;
}
:global .hello {
    color: var(--white);
}
