.symbol {
  color: var(--white);
  font-size: 18px;
  font-weight: normal;
}

.title {
  color: var(--white);
  font-weight: normal;
  padding-top: 10px;
  font-family: inherit;
}

.wallet {
  width: 90%;
  height: 30%;
  margin: 0 5%;
  position: absolute;
  border-radius: 10px;  
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
}

.wallet:before {
  content: " ";
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;  
  opacity: .6; 
  z-index: -1;
  border-radius: 10px;  
  background: linear-gradient(135deg, #4E92D8, #8D58CE);  
}

.wallet-amount {
  color: var(--white);
  margin-bottom: 0;
}

.wallet-diff {
  color: #9CA6C5;
  text-align: center;
}

.increase {
  color: lime;
}