#add {
  color: var(--white);
  background-color: #4E92D8 !important;
  padding: 6px 12px !important;
}

.add-wrapper {
  margin: 10% 0 0 5%;
  align-self: flex-start;
}

.add-wrapper-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.hide {
  display: none;
}

.no-coins {
  margin: 30px;
  width: 100%;
}

.no-coins h1 {
  margin: 0;
  color: var(--white);
}

.no-coins p {
  color: #9CA6C5;
}

#portfolio { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  display: block;
}

.symbol {
  color: var(--white);
  font-size: 18px;
  font-weight: normal;
}

.title {
  color: var(--white);
  font-weight: normal;
  font-family: inherit;
}

.wallet {
  width: 90%;
  height: 30%;
  margin: 0 5%;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .5);
  background: linear-gradient(135deg, #4E92D8, #8D58CE);    
}

.wallet-amount {
  margin: 0;
  color: var(--white);
}

.wallet-diff {
  color: #9CA6C5;
  text-align: center;
}

.increase {
  color: lime;
}